.symbol {
    color: #0e8b34;
    display: inline-block;
}

ion-select {
    color: #1767f1;
    --placeholder-color: #1767f1;
    --placeholder-opacity: 0.9;
    max-width: 100% !important;
}

.fare-result {
    display: inline-block;
}